<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="/docs/5.1/assets/brand/bootstrap-logo.svg"
        src="assets/img/logo-grey.png"
        alt="logo"
        class="d-inline-block align-text-top main-logo"
      />
    </a>
    <!-- <div class="search-section col-sm-6">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchData"
      />
    </div> -->
  </div>
</nav>
